fieldset{
    background-color: #EEEEEE;
    width: 40%;
    margin: auto;
    display: inline;
    border: 2px;
    box-shadow: black;
}
.movie{
    background-color: #ddd;
    size: 50px;
    width: 80%;
    align-items: flex-end;
    justify-content: 50px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 90px;
}
legend{
    background-color: #ddd;
    color: black;
    padding: 5px 10px;
}
.link{
    background-color: #ddd;
    align-items: center;
    justify-content: center;
    display: flex;
    place-items: 10px;
    padding: 15px 25px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0%;
    margin: 0%;
    
    

}

a:link, a:visited {
 
    color: black;
    font-weight: bold;
   
    text-align: center;
    text-decoration: none;
}
a:hover, a:active {
    color:blue;
    background-color: beige;
border-radius: 20px;
padding: 15px;
}
input[type=submit]
{
    width: 100px;
    background-color: #ddd;

}
input[type=reset]
{
    width: 100px;
    background-color: #ddd;

}
input[type=text]
{
    width:400px;
    padding: 5px;
}

.footer{
    background-color:black;
    width: 100%;
    color: white;
    position: static;
    margin: auto;
    display: flex;
    margin-bottom: -90%;

}
.socials{
    align-items: center;
    align-content: center;
    display: flex;
}
