{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Movies</title>
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		

		<!-- Loading third party fonts -->
		<link rel="stylesheet" type="text/css" href="{% static 'finalproject1/fontawesome/css/all.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'finalproject1/fonts/font-awesome.min.css'%}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'finalproject1/stylet.css' %}">
		
</head>





		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
        <style>
            .log_site {
   
     
   margin-right: -50%;            

} 
body{
  
    background-image: url("{% static 'finalproject1/background.jpg' %}");
                  background-repeat: no-repeat;
                  background-size: 110%;
  }
    .movies{
    background-color: rgba(202, 240, 145, 0.644);
    padding: 10%;
    margin-left: 1%;
    border: 5%;
    margin-top: 1%;
    width: 49%;
        align-content: -2%;
        
}
.movies>img{
    
    margin-right: 5%;
}
#block_container {
    text-align: center;
}
#block_container > div {
    display: inline-block;
    vertical-align: middle;
}        
        </style> 
    </head>
   <body>
    
    <div id="site-content">
        <header class="site-header">
            <div class="container">
                <a href="{% url 'index'  %}" id="branding">
                    <img src="{% static 'finalproject1/logo.png' %}" alt="" class="logo">
                    <div class="logo-copy">
                        <h1 class="site-title">Cinemania </h1>
                        <small class="site-description">Movies</small>
                    </div>
                </a> <!-- #branding -->

                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="{% url 'index'  %}">Home</a></li>
                        <li class="menu-item"><a href="about.html">About</a></li>
                        <li class="menu-item"><a href="review.html">Movie </a></li>
                        <li class="menu-item"><a href="joinus.html">Contact Us</a></li>
                    </ul> <!-- .menu -->

                    <form action="#" class="search-form">
                        <input type="text" placeholder="Search...">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <hr style="width: 500% ;border:2%;">
    <div class="log" style="max-width:25px;">
        
        <img src="{% static 'finalproject1/log.png' %}" style="height:-10%; width:2000%">  
      
    </div><br>
    <h3><b>Romantic Movie</b> </h3>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                     <!-- .row -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/7.jpeg' %}" alt="Movie 3"></a>
                            <p>Sandra  Ballock</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/16.jpeg' %}" alt="Movie 4"></a>
                            <p>My Story</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/4.jpeg' %}" alt="Movie 5"></a>
                            <p>My Love</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/24.jpeg' %}" alt="Movie 6"></a>
                            <p>Blessed Lovers</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/23.jpeg' %}" alt="Movie 6"></a>
                            <p>My One</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/22.jpeg' %}" alt="Movie 6"></a>
                            <p>Blessed Lovers</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/21.jpeg' %}" alt="Movie 6"></a>
                            <p>You are still the one</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/20.jpeg' %}" alt="Movie 6"></a>
                            <p>La La Land</p>
                        </div>
                    </div>
                <!-- .container -->
    </main><br><br><br>
<h3>Action Movie</h3>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                     <!-- .row -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/12.jpeg' %}" alt="Movie 3"></a>
                            <p> The gray man</p>
                        </div>
                    </div><div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/11.jpeg' %}" alt="Movie 3"></a>
                            <p>the night of the hunter</p>
                        </div>
                    </div><div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/9.jpeg' %}" alt="Movie 3"></a>
                            <p>Mahabharat</p>
                        </div>
                    </div><div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{% static 'finalproject1/5.jpeg' %}" alt="Movie 3"></a>
                            <p>Avengers Movie</p>
                        </div>
                    </div><div class="col-sm-6 col-md-3">
                        
                    </div>
                <!-- .container -->
    </main><br><br>

<h3>Cartoon Movie</h3>
<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row">
                 <!-- .row -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/2.jpeg' %}" alt="Movie 3"></a>
                        <p>Sandra for kids</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/8.jpeg' %}" alt="Movie 4"></a>
                        <p>Paw the Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/9.jpeg' %}" alt="Movie 5"></a>
                        <p>Mahabharat Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/25.jpeg' %}" alt="Movie 6"></a>
                        <p>Ben cartoon</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/26.jpeg' %}" alt="Movie 6"></a>
                        <p>Un Poco Loco Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/28.jpeg' %}" alt="Movie 6"></a>
                        <p>Choco kids</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/29.jpeg' %}" alt="Movie 6"></a>
                        <p>Anathalie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/31.jpeg' %}" alt="Movie 6"></a>
                        <p>Choco kids</p>
                    </div>
                </div>
            <!-- .container -->
</main><br><br>
<h3>Indian Movie</h3>
<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="row">
                 <!-- .row -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/35.jpeg' %}" alt="Movie 3"></a>
                        <p>Sandra  Ballock</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/36.jpeg' %}" alt="Movie 4"></a>
                        <p>Paw the Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/37.jpeg' %}" alt="Movie 5"></a>
                        <p>Mahabharat Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/38.jpeg' %}" alt="Movie 6"></a>
                        <p>Night Howks Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/39.jpeg' %}" alt="Movie 6"></a>
                        <p>You are still the one</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/40.jpeg' %}" alt="Movie 6"></a>
                        <p> Howks Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/41.jpeg' %}" alt="Movie 6"></a>
                        <p>Light Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="{% static 'finalproject1/42.jpeg' %}" alt="Movie 6"></a>
                        <p>Indian Movie</p>
                    </div>
                </div>
            
</main>

    <br><br><br><br><br><br><br>
    <hr style="width: 500% ;border:2%;">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>As Cinemania company we  are here for delivering good quality product in efficient and effective manner</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Contact Us</h3>
                        <ul class="no-bullet">
                            <li><a href="#">0780567894</a></li>
                            <li><a href="#">0724089765</a></li>
                            <li><a href="#">0788900987</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        
                    </div>
                </div>
            </div> <!-- .row -->

            <center><div class="colophon">&copy; Copyright 2022 Cinemania by A_V</div>
        </div></center> <!-- .container -->

    </footer>
    <script src="{% static 'finalproject1/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'finalproject1/js/plugins.js' %}"></script>
    <script src="	{% static 'finalproject1/js/app.js' %}"></script>
    
</div>
</body>
</html>